<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div class="col-9">
    <h1>User info view</h1>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Car</th>
                <th scope="col">Year</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getOwner()}"></td>
                <td th:text="${user.getCar()}"></td>
                <td th:text="${user.getYear()}"></td>
                <td>
                    <div th:each="role : ${user.getRoles()}">
                        <p th:text="${role.getRole()}"></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>