<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div class="col-9">
    <h1>User info view</h1>
    <nav class="nav nav-tabs">
        <a class="nav-link active" href="/admin">Users table</a>

    </nav>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Car</th>
                <th scope="col">Year</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${user}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.owner}"></td>
                <td th:text="${user.car}"></td>
                <td th:text="${user.year}"></td>
                <td>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{user-update/{id}(id=${user.id})}" class="btn btn-info btn-sm"
                           role="button" >Edit</a>
                    </div>
                </td>
                <td>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{user-delete/{id}(id=${user.id})}" class="btn btn-danger btn-sm"
                           role="button">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>